<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Delete Patient</title>
</head>
<body>
    <form action="/deletepatient" method="post">
        <label for="fullname">Full Name:</label>
        <input type="text" name="fullname" id="fullname">


        
        <label for="submit">Delete Patient:</label>
        <input type="submit" value="Delete">
            
        

    </form>
</body>
</html>