<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>New Patient</title>
</head>
<body>
    <form action="/newpatient" method="post">
        <label for="fullname">Full Name:</label>
        <input type="text" name="fullname" id="fullname">
        
        <label for="docid">Doctor ID:</label>
        <input type="text" name="docid" id="docid">

        <label for="age"> Age:</label>
        <input type="number" name="age" id="age">

        <label for="dateofvisit"> Date of Visit:</label>
        <input type="date" name="dateofvisit" id="dateofvisit">

        <label for="casedesc"> Case Description:</label>
        <input type="text" name="casedesc" id="casedesc">


        
        <label for="submit">Add new Patient:</label>
        <input type="submit" value="+">
            
        

    </form>
</body>
</html>