<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Update Patient Count</title>
</head>
<body>
    <form action="/updatenumber" method="post">
        <label for="docid">Doctor Id</label>
        <input type="text" name="docid" id="docid">
        
        <label for="newcount">Number of Patients</label>
        <input type="number" name="newcount" id="newcount">
        
        <label for="submit">Update Count:</label>
        <input type="submit" value="Update">
            
        

    </form>
</body>
</html>