<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter By Date</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/newbook">New Book</a></li>
        <li><a href="/allbooks">All Books</a></li>
    </ul>
    </br>
    <form action='/filterdate' method="POST">
        <label for="fromdate">From date</label>
        <input type="date" name="fromdate" id="fromdate">
        <label for="todate">To date</label>
        <input type="date" name="todate" id="todate">
        <label for="submit">Filter</label>
        <input type="submit" value="submit">
    </form>
    
</body>
</html>