<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img src="book.png" alt="Book icon" />
    <h1>Welcome to Week 4 Book Store</h1>
    <ul>
        <li><a href="/newbook">New Book</a></li>
        <li><a href="/allbooks">All Books</a></li>
        <li><a href="/deletebook">Delete by Topic</a></li>
        <li><a href="/updatebook">Update by Title</a></li>

    </ul>
</body>
</html>