<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Book</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/newbook">New Book</a></li>
        <li><a href="/allbooks">All Books</a></li>
    </ul>
</br>

<form action="/newbook" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
    <label for="author">Author</label>
    <input type="text" name="author" id="author">
    <label for="topic">Topic</label>
    <input type="text" name="topic" id="topic">
    <label for="dateofpub">Date of Publication</label>
    <input type="date" name="dateofpub" id="dateofpub">
    <label for="summary">Summary</label>
    <input type="text" name="summary" id="summary">
    <br><br>
    <label for="submit">Add new book:</label>
    <input type="submit" value="submit">
</form>


</body>
</html>